<button type="button" class="btn btn-primary waves-light" mdbWavesEffect>
    <a routerLink="/">Back</a>
</button><br>

<!-- Add new product form -->
{{confirmMsg}}
<mdb-navbar SideClass="navbar navbar-dark green" *ngIf="isInserted">{{confirmMsg}}</mdb-navbar>
<div>
<form id="addnewprod" name="addnewprod" #addProductDtls="ngForm" (ngSubmit)="addNewProduct(addProductDtls.value)">
    <p class="h5 text-center mb-4"> Add New Product:</p>
  
    <div class="md-form">
     
      <input type="text" name="name" id="name" class="form-control" placeholder="name" mdbInputDirective ngModel>
      <label for="orangeForm-name">Name</label>
    </div>
    <div class="md-form">
     
      <input type="text" name="color" id="color" class="form-control" placeholder="color" mdbInputDirective ngModel>
      <label for="orangeForm-email">Color</label>
    </div>
    <div class="text-center">
      <input class="btn btn-deep-orange waves-light" value="Add" mdbWavesEffect type="submit">
    </div>
  </form>
</div>
  <!-- Register form -->
